*{
    padding:3;
    margin:3;
}
.home{
    width:90%;
    margin:3%;
    height:0%;
}
.home img{
    padding:1%;

}
.nav{
    border:1px solid #777777
    padding:10px;
    margin:10px;
    text-align:right;
}


#list li{
background:grey;
display:inline;
border:1px;
list-style:none;
text-align:center;
padding-bottom:10px;
padding-top:10px;
}
#list li:hover{
background:green;
}
#list li a{
color:white;
display:inline;
text-decoration:none;
padding:20px 20px;
}
body{
 background-image: url("images/bg.webp");  
background-color: aliceblue;
    color:rgb(165, 173, 179);
}

.box {
    border: 1px solid #0e170f;
    padding: 20px;
    width: 95%;
    margin: 20px 20px;
    box-shadow: 0 0 10px rgba(3, 15, 3, 0.1);
    border-radius: 8px;
    background-color: white;
    
}

.container{
    color: #0c0b0b;
}

h2{
    font-family:'comic sans ms' ;
    font-weight: 400px;
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(23, 12, 12);
    width: 100%;
    line-height: 50px;
}


@media screen and (max-width:800px){
    .hero{
        width: 90%;
    }
}